/*-------------------------
    Variables
-------------------------*/
:root {
// Color
--color-primary: #317aff;
--color-primary-dark: #1A58C8;
--color-primary-light: #5A94FF;
--color-minima-orange:  #ff7358;
--color-minima-orange-dark: #fe442b;
--color-minima-dark:  #363A3F;
--color-minima-black:  #000000;
--color-minima-grey: #BDBDC4;
--color-minima-dark-grey:#767682;
--color-white: #ffffff;
--color-black: #000000;
--color-light: #ECF2F6;
--color-dark: #27272E;
--color-text-dark: #292930;
--color-body-copy: #363A3F;
--color-body-title: #363A3F;
--welcome-bg-color: #ECF2F6;
--color-dropdown-copy: #363A3F;
--color-token-bg: #dedee2;
--color-token-copy: #363A3F;
--color-token-border: #d3d3d8;
--color-token-border-active: #d3d3d8;
--color-unread-msg: #000000;
--msg-username-active: #000000;
--contacts-line: rgba(0, 0, 0, 0.1);
--sidebar-line: rgba(0,0,0, 0.2);
--search-filter: invert(0);

//Desktop background
--background-desktop: url(./../../images/bg/maxsolo_desktop_bg_light.png);
--search-icon: url(./../../images/icons/search_icon.svg);
--search-icon-active: url(./../../images/icons/search_icon_active.svg);

// Notifications
--color-notification-copy: #ffffff; 
--color-notification-info: #2DC24B;
--color-notification-error: #F5455C;
--color-notification-info-sidebar: #91929d;
--color-notification-info-sidebar-success: #27C796;

--color-blue-shade: #6865FF;
--color-link: #2522BA;
--color-mabel: #DBF8FF;
--color-fog: #DBDEFF;
--color-pink-shade: #FFD3DB;
--color-peach: #FFEDDC;
--color-rose: #C75C6F;

--color-chart1: #896BA7;
--color-chart2: #BADEFF;

--color-body: #525260;
--color-gray-1: #757589;
--color-gray-2: #999FAE;
--color-gray-3: #999AB8;
--color-gray-4: #99A1AA;
--color-ship-gray: #42424A;
--color-ghost: #C7C7D5;
--color-mercury: #E5E5E5;
--menu-weight: 600;


// Gradient Color
--gradient-primary: linear-gradient(90deg, #ECF2F6 0%, rgba(236, 242, 246, 0) 70.31%);
--gradient-minima: linear-gradient(0deg, rgba(26,88,200,1) 0%, rgba(49,122,255,1) 100%);
--gradient-blue: linear-gradient(145.92deg, #5956E9 20.18%, #9991FF 76.9%);
--gradient-accent: linear-gradient(180deg, #FAB8C4 0%, #FFEDF0 100%);
--gradient-white: linear-gradient(266.3deg, rgba(236, 242, 246, 0) 7.84%, #ECF2F6 29.1%, rgba(236, 242, 246, 0) 64.32%);
--gradient-dark: linear-gradient(180deg, #27272E 0%, #303035 100%);


// Border
--border-light: 1px solid #E3E6E9;
--border-lighter: 1px solid #ECF2F6;
--border-dark: 1px solid var(--color-ship-gray);
--border-gray: 1px solid var(--color-gray-4);


//Font Family
--font-primary: 'Manrope', sans-serif;
--font-awesome: 'Font Awesome 5 Pro';

// Transition
--transition: all 0.2s ease-in-out;

//Fonts Size
--font-body-1: 18px;
--font-body-2: 16px;
--font-body-3: 14px;
--font-body-4: 12px;

// Line Height
--line-height-b1: 1.5;
--line-height-b3: 1.1;

// Heading Font 
--h1: 80px; 
--h2: 48px; 
--h3: 48px;
--h4: 32px; 
--h5: 24px; 
--h6: 20px; 

--body-bg-color: #e5ecef;
--maxsolo-chat-area: #dedee2;
--theme-bg-color: #fff;
--settings-icon-hover: #9fa7ac;
--developer-color: #f9fafb;
--input-bg: #f8f8fa;
--input-chat-color: #a2a2a2;
--border-color: #eef2f4;
--body-font: "Manrope", sans-serif;
--body-color: #273346;
--settings-icon-color: #c1c7cd;
--msg-message: #363A3F;
--msg-preview: #91919D;
--chat-text-bg: #e9e9eb;
--theme-color: #0086ff;
--send-window: #FFFFFF;
--msg-date: #9fa7ac;
--button-bg-color: #f0f7ff;
--button-color: var(--theme-color);
--detail-font-color: #919ca2;
--msg-hover-bg: rgba(238, 242, 244, 0.4);
--header-text-color: #f9fafb;
--active-conversation-bg: linear-gradient(
 to right,
 rgba(238, 242, 244, 0.4) 0%,
 rgba(238, 242, 244, 0) 100%
);
--overlay-bg: linear-gradient(
 to bottom,
 rgba(255, 255, 255, 0) 0%,
 rgba(255, 255, 255, 1) 65%,
 rgba(255, 255, 255, 1) 100%
);
--chat-header-bg: linear-gradient(
 to bottom,
 rgba(255, 255, 255, 1) 0%,
 rgba(255, 255, 255, 1) 78%,
 rgba(255, 255, 255, 1) 100%
);

--chat-header-bg: #317aff;

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


::-webkit-scrollbar-thumb {
    background: #FFFFFF;
}

}

// Layouts Variation
$smlg-device: 'only screen and (max-width: 1199px)';
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-up-device: 'only screen and (min-width: 768px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';

