/*-------------------------
    Sidebar Container
-------------------------*/
.maxsolo-sidebar{
  .close-window{
    display: none;
    @media #{$lg-up-device} {
      position: absolute;
      top: 24px;
      left: 24px;
      display: block;
      cursor: pointer;
      color: var(--msg-username);
    }
  }
  &-container{
    display: flex;
    overflow: hidden;
    background: var(--send-window);
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    top: 0;
    right: -100%;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    padding: 20px;
    &.active{
      display: flex;
      right: 0%;
    }
    &-button{
      display: flex;
      justify-content: left;
      align-items: center;
      flex-direction: row;
      width: 100%;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: -0.025em;
      color: var(--msg-username);
      margin: 0.5rem 1rem auto 1rem;
      cursor: pointer;
      svg{
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
        fill: var(--msg-username);
      }
    }
    &-content{
      // display: flex;
      // border: solid orange 2px;
      font-size: 0.875rem;
      flex: 1;
      font-weight: 500;
      flex-direction: column;
      width: 100%;
      letter-spacing: -0.025em;
      color: var(--msg-username);
      margin: 3rem auto 0 auto;
      justify-content: left;
      align-items: center;
      .main-title{
        font-weight: 700;
        font-size: 0.875rem;
        padding-left: 1rem;
        margin-bottom: 0.3rem;
      }
      input{
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid var(--color-token-border);
        background: var(--send-window);
        padding: 8px 16px;
        font-size: 0.875rem;
        margin-bottom: 0.4rem;
        &::placeholder{
          font-size: 0.875rem;
          font-weight: 500;
          color: var(--msg-username);
          opacity: 0.2;
        }
        &.error{
          border: 1px solid #f00;
        }
      }
      textarea{
        width: 100%;
        height: 230px;
        margin: 0.5rem 0;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid var(--color-token-border);
        background: var(--send-window);
        padding: 8px 16px;
        font-size: 0.875rem;
        &::placeholder{
          font-size: 0.875rem;
          font-weight: 500;
          color: var(--msg-username);
          opacity: 0.2;
        }
        &.error{
          border: 1px solid #f00;
        }
      }
      &-address{
        border:2px solid orange;
        border-radius: 8px;
        border: 1px solid var(--color-token-border);
        padding: 1rem;
        margin-top: 1rem;
        &-header{
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid var(--color-token-border);
          font-weight: 700;
          padding: 0 0 16px 0;
          margin-bottom: 16px;
          .copy-button{
            margin-left: auto;
            cursor: pointer;
            svg{
              width: 20px;
              height: 20px;
            }
            .check{
              fill: var(--color-notification-info-sidebar-success);
            }
          }
          .title{
            align-items: center;
            display: flex;
            font-size: 0.875rem;
          }
        }
        .display-address{
          word-break: break-word;
        }
      }
      .info-message{
        text-align: center;
        margin: 1rem auto;
        font-weight: 700;
        color: var(--color-notification-info-sidebar-success);
      }
      .info-input{
        text-align: center;
        font-weight: 700;
        color: red;
      }
      .minima-btn{
        width: 100%;
      }
    }
  }
}

.contact-list-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 5;
  bottom: 0%;
  position: relative;
  margin-top: auto;
  overflow-y: auto;
  transition: all 0.4s ease;
  background: var(--theme-bg-color);
  padding: 10px 20px;
  &.full{
    height: 100%;
    transition: all 0.4s ease;
  }
  &-header {
    flex-shrink: 0;
    .title{
      font-size: 24px;
      font-weight: 700;
      color: var(--msg-username);
      margin: 1.5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .close{
        display: flex;
        cursor: pointer;
        width: 28px;
        height: 28px;
        color: var(--msg-username);
      }
    }
  }
  &-content{
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        padding: 20px 0px;
      }
    }
    .results{
      color: var(--msg-username);
      text-align: center;
      margin: 2rem 0;
    }
  }
  &-footer{
    flex-shrink: 0;
    padding: 20px 40px;
    text-align: center;
    .minima-btn{
      width: auto;
      padding: 0;
      margin: 0;
    }
  }
  &.hide{
    bottom: -100%;
  }
  input {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--theme-bg-color);
    background-color: var(--input-bg) !important;
    padding: 10px 16px 10px 36px;
    font-size: 0.975rem;
    background: var(--search-icon) no-repeat left;
    background-size: 19px 22px;
    background-position: 10px;
    margin-bottom: 0.5rem;
    &:focus{
        outline: none;
        border: 1px solid var(--color-primary);
        box-shadow: 0 0 0px var(--color-primary);
        background: var(--search-icon-active) no-repeat left;
        background-size: 19px 22px;
        background-position: 10px;
    }
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 16px;
      width: 16px;
      background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
      filter: var(--search-filter);
      background-size: contain;
      opacity: 0.4;
      cursor: pointer;
      // background: var(--color-token-border);
    }
  }
}